version: "3"


services:
   app:
      build:
        context: .
      ports:
      - "8000:8000"
      volumes:
      - .:/app
      environment:
        - SECRET_KEY="developmentsecretkey"
        - DB_HOST=db
        - DB_NAME=cashflow
        - DB_USER=postgres
        - DB_PASS=qwerty123
      command: >
        sh -c "python manage.py runserver 0.0.0.0:8000"
      depends_on:
        - db

   db:
      image: postgres:10-alpine
      environment:
        - POSTGRES_DB=cashflow
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=qwerty123

